<style>
    .has-error input[type="text"],
    .has-error input[type="password"] {
    border-color: rgb(216, 12, 12);
    background-color:lavenderblush;
    color: rgb(230, 14, 14);
    }
   </style>


		<section class="section">
      <div class="container">
      <div class="column">
      <h1 class="title is-1">Projet de base</h1>
      <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-half">
                    <h3 class="title is-3">Affichage d'une table de multiplication</h3>
                    <form  [formGroup]="identForm" (ngSubmit)="submit()">
                        <div class="field">
                            <label class="label">Choissisez un chiffre</label>
                            <div class="control">
                                <input class="input is-success" formControlName="chiffre" type="text" placeholder="chiffre" value="">
                            </div>
                            </div>
                        
                        <div class="field is-grouped">
                            <div class="control">
                                <button class="button is-link">Valider</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
      </section>
      <div *ngIf="submitted">
      <app-table-multiplication [chiffre]="chiffre"></app-table-multiplication>
      
      <app-tablesmultiplication ></app-tablesmultiplication>
    </div>
     
 