
                  <h3 class="title is-3">Affichage de toutes les tables de multiplication</h3>
                  <form  [formGroup]="identForm" (ngSubmit)="submit2()">
                      <div class="field">
                          <label class="label">Choissisez un chiffre</label>
                          <div class="control">
                              <input class="input is-success" formControlName="tables" type="text" placeholder="chiffre" value="">
                          </div>
                      </div>
                      <div class="field is-grouped">
                          <div class="control">
                              <button class="button is-link">Valider</button>
                          </div>
                      </div>
                  </form>

                  <div class="has-text-centered">
                  <ul *ngFor="let i of tabchiffre">
                    <li>Voici la table de {{ i }}</li>
                    <li>---------------</li>
                    <li *ngFor="let numbers of tabmulti">| {{ numbers.num }} X  {{ tabchiffre[i-1] }}  = {{ numbers.num * tabchiffre[i-1] }} | </li>
                    <li>---------------</li> 
                </ul>
                </div>