
<div class="has-text-centered">
    <h3>Voici la table de {{ chiffre }}</h3>
<ul>  
    <li>---------------</li>
    <li *ngFor="let numbers of tab">| {{ numbers.num }} X  {{ chiffre }}  = {{ numbers.num * chiffre }} |</li>
    <li>---------------</li>
</ul>
</div>